  
   <div class="tab_content"  style="margin-top: 42px;">
        <div id="flash" class="">
            <% flash.each do |key, value| -%>
                 <div id="flash_<%= key %>" class="<%= key %>">
                    <p style="color:red; font-size: 17px;"><%=h value %></p>
                 </div>
            <% end %>
        </div>
            <!-- Item List -->
           <!--  Outer wrapper for presentation only, this can be anything you like -->
        <div id="banner-slide" style="margin-left: 119px; max-width: 1600px; ">

   
         
              <img src="./assets/aaaa.png" style="width:800px; padding-left: 80px;" >
             
      

        </div>
            
    </div>

  