
<!-- Footer -->
<div id="footer" style="padding-left: 10px;">
	<div class="wraper">
    	<a href="<%=%>">About Us</a> &nbsp; | &nbsp;        
              
        <a href="<%=%>">Contacts</a>
        
		<p class="paddingT5">Copyright &copy; 2013 Job Search Portal All Rights Reserved.</p>
    </div>
</div>
